 body,
 html {
   margin: 0;
   padding: 0;
   width: 100%;
   height: 100%;
   overflow: hidden;
   background: url('https://images.unsplash.com/photo-1601758123927-0c57be1c9283?auto=format&fit=crop&w=1470&q=80') no-repeat center center fixed;
   background-size: auto;
   font-family: sans-serif;
 }


 body {
   opacity: 0.80;
   background-image: url(../css/image/natali.png);
   background-size: cover;
   /* Mostra a imagem inteira */
   background-repeat: no-repeat;
   min-height: 100vh;
   background-color: #315153;
 }

 .snowflake {
   position: absolute;
   top: -50px;
   color: white;
   user-select: none;
   pointer-events: none;
   font-size: 15px;
   opacity: 0.1;
 }

 .message {
   text-align: center;
   color: #ded6d6;
   font-size: 4rem;
   font-weight: bold;
   text-shadow: 4px 4px 12px #000;
   margin-bottom: 20px;
 }

 .card {
   position: absolute;
   right: 60px;
   /* muda para left se quiser */
   top: 50%;
   transform: translateY(-50%);
   background: rgba(204, 211, 212, 0.35);
   /* vidro com cor */
   backdrop-filter: blur(14px);
   -webkit-backdrop-filter: blur(14px);
   padding: 20px;
   border-radius: 12px;
   max-width: 500px;
   text-align: center;

   box-shadow: 0 10px 25px rgba(213, 206, 206, 0.903);
   border: 3px solid rgba(255, 255, 255, 0.89);
 }

 button {
   margin-top: 15px;
   padding: 10px 20px;
   border: none;
   border-radius: 8px;
   background: #C0384C;
   color: white;
   cursor: pointer;
   font-size: 16px;
 }

 p {
   white-space: pre-line;
   margin-top: 15px;
 }

 footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background: rgba(204, 211, 212, 0.35);
   backdrop-filter: blur(14px);
   -webkit-backdrop-filter: blur(14px);
   padding: 10px 0;
   text-align: center;
   color: #ded6d6;
   text-shadow: 2px 2px 8px #000;
   border-top: 1px solid rgba(255, 255, 255, 0.18);
 }

 footer p {
   color: #ffffff;
   margin: 0;
   font-size: 15px;
  
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 6px;
   flex-wrap: nowrap;
     white-space: nowrap;
 }

 .copy-link {
   color: #ffffff;
   text-decoration: none;

   display: inline-flex;
   align-items: center;
   gap: 6px;
 }
 .copy-link:hover .link-text{
   text-decoration: underline;
   color: #131212;
   font-weight: bold;
 }
.copy-link i {
   font-size: 16.5px;
  color: #ffffff;
}




 @keyframes pulse {
   0% {
     transform: scale(1);
   }

   50% {
     transform: scale(1.4);
   }

   100% {
     transform: scale(1);
   }
 }

 .heart {
   display: inline-block;
   animation: pulse 1s infinite;
 }

 @media (max-width: 768px) {
   .card {
     right: auto;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 90%;
     max-width: 400px;
     padding: 15px;
   }

   .message {
     font-size: 3rem;
   }
 }

 @media (max-width: 480px) {
   h2 {
     font-size: 1.2rem;
   }

   .message {
     font-size: 3rem;
     font-weight: bold;
   }

   button {
     padding: 8px 16px;
     font-size: 14px;
   }
 }